<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			STI SIG seeks to provide assignments, tutorials, guidance, and philosophies on how to better connect technology use to emergency management. From software like WebEOC to the complex algorithms of machine learning, the demand for computer use in emergency management is increasing at an exponential rate. By focusing on integrating science and technology with existing emergency management praxis, the STI SIG can help educate emergency managers to use cutting edge computational techniques and teach them to others quickly and effectively.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="https://stisig.github.io/images/sidebar-1.jpg" alt="other websites, places of interest">
		<p class="text-left">
			Other sites on the web you might find useful!
		</p>
		<p class="text-left">
			<ul>
  				<li>EM Weekly</li>
  				<li>The FEMA Higher Education Newsletter</li>
  				<li>Third</li>
			</ul>
	</div>
</aside>